@media all and (max-width : 1200px){

	.single-portfolio-item{
		width:  50%; 
	}
	.single-portfolio-item:last-child{
		width: 100%;
	}
}
	@media all and (max-width : 768px){
	#main-nav label.toggle{
		display: block;
		background-color: #fff;
		
		color:  #fae327;
		font-size: 20px;
		line-height: 60px;
		text-decoration: none;
		border: none; 
		text-align: right;
		width: 100%;
		}
		#main-nav ul{
			display: none;
		}
		#main-nav li a {
			text-align: right;
			padding: 20px;
		}
		#main-nav #drop:checked + ul{
			display: block;
		}
		li{
			display: block;
			width: 100%;
		}
		.main-header-content{
			padding: 10%;
			width: 100%;
		}
		#about figure{
			width: 100%;
		}
		figure img {
			max-height: inherit;
		}
		#about #about-content{
			width: 100%;		
		}
		.single-portfolio-item {
			width: 100%;
		}
		.contact-data {
			width: 100%;
			text-align: center;
		}
		.contact-form {
			width: 100%;
		}
		#contact-social-icons{
			margin: 0;
			padding: 5px;
		}
		a {
			text-align: center;
		}
		#about {
			background: none;
			border: none;
		}
		.skills{
			text-align: center;
			width: 100%;
		}
}
@media all and (max-width : 680px){
	h1{
		font-size: 3em;
	}
	h2{
		font-size: 1.5em;
	} 
	section{
		padding: 0 40px 50px;
	}
	#contact-social-icons{
			margin: 0;
	}
	#main-header{
		text-align: left;
	}
}
@media all and (max-width : 480px){
	section{
		padding: 0 10px 30px;
	}
