body {
	font-family:'Lato', sans-serif;
	color: #291f1a;
	font-weight: 300;
	text-decoration: none;
	margin: 0;
}
a{
	text-decoration: none;
	color: #ffffff;
}
nav>ul>li {
	display: inline-block;
	text-decoration: none;
	list-style: none;
	margin: 5px;
	padding: 5px;
}
#main-nav {
	position: fixed;
	width: 100%;
	text-align: right;
	z-index: 2;
	background-color: rgba(42, 61, 79, 0.4); 

}
#main-nav label.toggle, input[type="checkbox"]{
	display: none;
}
#main-nav a:hover {
	color:  #fae327;
}
#main-nav lable.toggle, input[type="checkbox"]{
	display: none;
}
#main-header{
	background-image: url(../img/img/header-background.jpg);
	background-size: cover;
	background-position: center;	
	text-align: center;
	width: 100%;
}

#main-header .main-header-content {
	padding: 30%;
}
#main-header>div>h1{
	font-family: 'Roboto',sans-serif;
	color: #ffffff;
	font-size: 80px;
	font-weight: 600;
	margin: 20px;
}
#main-header>div>h2 {
	font-family:'Roboto',sans-serif;
	color: #ffffff;
	font-size: 50px;
	font-weight: 100;
	margin-right: 10px;
}
span{
	color: #fae327;
	font-weight: 700;
}

#about {
	text-align: center;
	background-color: #f9fcfe;
	font-family: 'Roboto',sans-serif;
	border-bottom: 4px solid #e8e8e8;
	border-top: 1px solid #f9fcfe;
	height: 400px;
	width: 100%;
	font-weight: 300;
}
#about>figure>img {
	max-height: 400px;
	max-width: 50%;
	border: 10px solid white;
	border-radius: 10px;
}
#about>article {
	width: 50%;
	float: left;
	margin: 0px;
	text-align: justify;
}
#about>h1 {
	text-align: center;
	font-size: 30px;
	font-weight: 300;
	margin-top: 60px;
	margin-bottom: 35px;
	text-decoration: none;	
}
#about>figure {
	margin: 0px;
	float: left;
	text-align: center;	
}
#skills{
	width: 100%;
	text-align: center;
	
}
#skills>h2{
	text-align: center;
	font-size: 30px;
	font-weight: 300;
	margin-top: 60px;
	margin-bottom: 35px;
	text-decoration: none;	
}
#skills>p {
	width: 80%;
	float: left;
	margin-left: 120px;
	text-align: justify;

}
span {
	color: #fae327;
	text-align: center;
}

#skills>div>figure {
	display: inline-block;
	text-align: center;
}
#portfolio .portfolio-items #portfolio-item-1{
	background-image:url(../img/img/portfolio1.jpg);
}
#portfolio .portfolio-items #portfolio-item-2{
	background-image:url(../img/img/portfolio2.jpg);
}
#portfolio .portfolio-items #portfolio-item-3{
	background-image:url(../img/img/portfolio4.jpg);
}
.single-portfolio-item {
	height: 350px;
	width: 33.3333%;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: inline-block;
}
.portfolio-items {
	text-align: center;
	font-size: 0;
}
#portfolio>h2 {
	text-align: center;
	font-size: 30px;
	color: black;
	font-weight: 300;
}
.single-portfolio-item-mask{
	background-color: rgba(42, 61, 79, 0.8);
	height: 100%;
	width: 100%;
	opacity: 0;
	position: absolute;
	font-size: initial;
}
.single-portfolio-item-mask:hover {
	opacity: 1;
	transition: all 0.3s ease-in-out;
	color: #ffffff;
}
.single-portfolio-item-mask-content {
	border: 1px solid #fff;
	margin: 10px; 
	height:  330px;
	position: relative;
}
.single-portfolio-item-mask-content-inner {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	padding 5px;
}
#portfolio {
	color: #fff;
}
.fa-link{
	color: #ffffff;
}
.fa-link:hover {
	color: #fae327;
}
#contact {
	background-color: #213b50;
	color: #fff;
	overflow: hidden;
	padding-left: 8vh;
	padding-right: 8vh;
	padding-bottom: 5vh;
	padding-top: 5vh;
}
.contact-data{
	width: 50%;
	float: left;
}
.contact-from{
	width: 50%;
	float: left;
	margin-top: 100px;
	
}
#contact>div>h2{
	text-align: left;
	font-size: 38px;
	font-weight: 100;
}
#contact>div>address a{
	color: #fae327;
}
.contact-social-icons a{
	display: inline-block;
	height: 38px;
	width: 38px;
	text-align: center;
	margin-right: 30px;
	border: 1px solid #fff;
	font-size: 22px;
	line-height: 38px;
}
.contact-social-icons a:hover {
	color: #213b50;
	background: #fff;
	border-color: #213b50;
}
input[type="text"],input[type="email"],textarea{
	width: 100%;
	padding: 15px;
	margin-bottom: 15px;
	border: 0 #2b4a64;
	background-color: #2b4a64;
}

input[type="text"],input[type="email"]:focus, textarea:focus{
	background-color: #426684;
}
input[type="submit"]{
	padding: 15px 30px;
	text-transform: uppercase;
	border: 1px solid #fae327;
	background-color: #fae327;
	color: #fff;
	font-weight: 600;
	float: right;
}
input[type="submit"]:hover{
	background-color: #fff;
	color: #fae327;
}
footer {
	background-color: #142634;
	padding: 0 80px;	
}
footer p{
	color: #ffffff;
	margin: 0;
	font-size: 12px;
}