body {
	font-family:'Lato', sans-serif;
	color: #291f1a;
	font-weight: 300;
	text-decoration: none;
	margin: 0;
}
a{
	text-decoration: none;
}
nav>ul>li {
	display: inline-block;
	text-decoration: none;
	list-style: none;
	margin: 5px;
}
#main-nav {
	position: fixed;
	background-color:#ffffff;
	color: #1ac056;
	width: 100%;
	text-align: right;

}
#main-nav:hover {
	color: #291f1a;
}
#main-header{
	background-image: url(../img/img/header-background.jpg);
	background-size: cover;
	background-position: center;	
	text-align: center;
	width: 100%;
}

#main-header .main-header-content {
	padding: 30%;
}
#main-header>div>h1{
	font-family: 'Roboto',sans-serif;
	color: #ffffff;
	font-size: 80px;
	margin: 20px;
}
#main-header>div>h2 {
	font-family:'Roboto',sans-serif;
	color: #ffffff;
	font-size: 30px;
	margin-right: 10px;
}
span{
	color: #1ac056;
}

#about {
	text-align: center;
	background-color: #f9fcfe;
	font-family: 'Roboto',sans-serif;
	border-bottom: 4px solid #e8e8e8;
	border-top: 1px solid #f9fcfe;
	height: 400px;
	width: 100%;
}
#about>figure>img {
	max-height: 400px;
	max-width: 50%;
	border: 10px solid white;
	border-radius: 10px;
}
#about>article {
	width: 50%;
	float: left;
	margin: 0px;
	text-align: justify;
}
#about>h1 {
	text-align: center;
	font-size: 30px;
	font-weight: 300px;
	margin-top: 60px;
	margin-bottom: 35px;
	text-decoration: none;	
}
#about>figure {
	margin: 0px;
	float: left;
	text-align: center;	
}
#skills{
	width: 100%;
	text-align: center;
	
}
#skills>h2{
	text-align: center;
	font-size: 30px;
	font-weight: 300px;
	margin-top: 60px;
	margin-bottom: 35px;
	text-decoration: none;	
}
#skills>p {
	width: 80%;
	float: left;
	margin-left: 120px;
	text-align: justify;

}
span {
	color: #1ac056;
	text-align: center;
}

#skills>div>figure {
	display: inline-block;
	text-align: center;
}